.ConfirmPopup__div_container {
  align-items: center;
  flex-direction: row;
  min-height: 15vh;
}

.confirmPopup-button {
  padding: 10px 20px;
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  margin: 11px;
  font-size: x-large;
  font-weight: bold;
}

.confirmPopup-button:hover {
  color: var(--font-color-1);
  background-color: var(--fifth-color);
  cursor: pointer;
}
.confirmPopup-button-yes {
  color: red;
}

.confirmPopup-button-yes:hover {
  background-color: var(--fifth-color);
  color: red;
}
