.container {
  background-color: var(--primary-color);
  min-height: 85vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.subContainer {
  background-color: var(--primary-color);
  height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.imgContainer {
  width: 30vw;
}

.title {
  text-decoration-line: underline;
  color: var(--fifth-color);
}

.time {
  background-color: var(--primary-color);
  height: 8.5vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  border-radius: 15px;
}

.timeDetail {
  min-height: 4.5vh;
  min-width: 15vw;
  border: 2px solid var(--fifth-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: large;
  color: var(--font-color-1);
  background-color: var(--fourth-color);
  padding: 10px;
  margin: 10px;
}

.preparation {
  min-height: 4.5vh;
  min-width: 20vw;
  border: 2px solid var(--fifth-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: large;
  color: var(--font-color-1);
  background-color: var(--fourth-color);
  padding: 10px;
}
