.timeDetail {
  min-height: 4.5vh;
  min-width: 5vw;
  border: 2px solid var(--fifth-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: large;
  color: var(--font-color-2);
  padding: 10px;
  margin: 10px;
}

.logo_person {
  height: 4vh;
  pointer-events: none;
  fill: var(--secondary-color);
  padding-right: 10px;
}
