.time {
  background-color: var(--primary-color);
  height: 8.5vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  border-radius: 15px;
}
@media (max-width: 1000px) {
  .time {
    flex-direction: column;
    height: 25vh;
    width: 40vw;
  }
}

.logo_star {
  fill: goldenrod;
}
