.container {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subContainer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.imgContainer {
  width: 50%;
}
.title {
  text-decoration-line: underline;
  color: var(--fifth-color);
}

.timeDetail {
  min-height: 4.5vh;
  min-width: 7vw;
  border: 2px solid var(--fifth-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: large;
  color: var(--font-color-2);
  padding: 10px;
  margin: 10px;
}

.button {
  border-radius: 15px;
  height: 6.5vh;
  min-width: 7.5vw;
  padding: 10px;
  font-size: large;
  background-color: var(--fifth-color);
  color: var(--primary-color);
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}

.button:hover {
  background-color: var(--fourth-color);
  color: var(--font-color-2);
}

.buttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 1000px) {
  .container {
    background-color: var(--primary-color);
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .subContainer {
    background-color: var(--primary-color);
    min-height: 80vh;
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .imgContainer {
    display: inline-block;
    width: 50%;
    border: 2px solid black;
  }

  .title {
    text-decoration-line: underline;
    color: var(--fifth-color);
  }

  .timeDetail {
    min-height: 4.5vh;
    min-width: 7vw;
    border: 2px solid var(--fifth-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: large;
    color: var(--font-color-2);
    padding: 10px;
    margin: 10px;
  }
}
