.preparation {
  min-height: 4.5vh;
  width: 40vw;
  border: 2px solid var(--fifth-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: large;
  color: var(--font-color-2);
  padding: 10px;
  margin: 10px;
}
.ulContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.logo_cooking {
  height: 4vh;
  pointer-events: none;
  fill: var(--secondary-color);
  padding-right: 10px;
}
.ulContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media (max-width: 600px) {
  .preparation {
    width: 90vw;
  }
}
