body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary-color: #f3d9dc;
  --secondary-color: #d7bea8;
  --third-color: #b49286;
  --fourth-color: #c78283;
  --fifth-color: #744253;

  --font-color-1: white;
  --font-color-2: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
