.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 4.5vh;
}

.logo_search {
  pointer-events: none;
  fill: var(--secondary-color);
  padding-right: 10px;
  margin-right: 10px;
}

.search {
  font-size: x-large;
  font-weight: bolder;
  color: var(--font-color-1);
  background-color: var(--fourth-color);
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  width: 50%;
}
.search::placeholder {
  color: var(--fifth-color);
}

@media (max-width: 1000px) {
  .search {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .searchContainer {
    margin-bottom: 5px;
  }
}
